html {
	margin: 0;
	padding: 0;
	/*background:#a7a09a;*/
	background: #ececec;
	text-decoration: none;
}
body {
	/*text-align: center;*/
	font-size: 18px;
	width: 90%;
	margin: 0 auto;
	background: #eee;
	/*background: #444;*/
	padding: 0;
	
}
h3 {
	font-size: 20px;
	font-weight: 500px;
	text-align: center;
	font-color: white;
	margin: 0;
}
.wrap {
	/*background: #ddd;*/
	width: 100%;
	height: 100%;
		margin: 0 auto;
	padding: 0;
	text-align: center;
}

a:link, a:visited {
    /*background-color: #f44336;*/
    /*border: 1px green;*/
    /*color: white;*/
    /*padding: 14px 25px;*/
    /*text-align: center; */
    text-decoration: none;
    color: black;
    font-weight: 300px;
    /*display: inline-block;*/
}

a:hover, a:active {
    /*background-color: red;*/
    text-decoration: none;
}

/*--- index.html ---*/

.header {
	width: 600px;
	color: #777;
	/*text-shadow: 0 -1px 0 #888;*/
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	letter-spacing: 2px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 0;
	/*padding-bottom: 10px;*/
	margin-bottom: 15px;
	height: 50px;

	font-size: 14px;
}
.footer {
	width: 600px;
	color: #777;
	/*text-shadow: 0 -1px 0 #888;*/
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	letter-spacing: 2px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 10px
	padding: 0;
	/*padding-bottom: 10px;*/

	height: 20px;

	font-size: 14px;


}

.events {
	width: 700px;
	margin: 0 auto;
	padding: 0;
	/*background: #eee;*/
}
.time {
	/*margin-top: 30px;*/
	height: 90px;
	width: 15%;
	float: left;
	font-size: 14px;
	line-height: 90px;
	/*background-color: red;*/
}
.event {
	/*border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 0px rgba(255,255,255,0.5);*/
	/*padding-top: 20px;*/
	width: 70%;
	height: 90px;
	float: left;
	/*background: green;*/
}
.arbitrage {
	width: 15%;
	height: 90px;
	float: right;
	line-height: 90px;
	font-size: 14px;
}
.after {
	width: 100%;
	height: 90px;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 0px rgba(255,255,255,0.5);
	/*background-color: white;*/

}

/*--- index-old.html ---*/


.forth, .third, .second {
	width: 280px;

	/*text-align: left;*/
}
.first {
	width: 400px;
}
.forth {
	/*margin-right: 360px;*/
	float: right;
	
}
.first, .second, .third {
	float: left;
	/*border-right: 1px blue;*/
}

/*--- check.html ---*/

.big {
	font-size: 20px;
	letter-spacing: 1px;
}
.main-header {
	letter-spacing: 5px;
	color: #999;

}
table {
    border-collapse: collapse;
    width: 700px;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    /*width: 160px;*/
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
	width: 100px;
}
td {
	width: 100px;
	height: 40px;
}
.left {
	text-align: left;
}
.red {
	color: red;
	font-weight: 600px;
}
.back {

	width: 70px;
	margin: 0 auto;
	margin-top: 50px;
}
.my-button {							
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	font-size: 16px;
	border-radius: 18px;
	padding: 10px;
	border: 1px solid #444;
	color: black;
	letter-spacing: 5px;
	cursor: pointer;
}
.my-button:hover {					
	border: 1px solid blue;
	color: blue;
}