html {
	margin: 0;
	padding: 0;
	/*background:#a7a09a;*/
	background: #ececec;
	text-decoration: none;
}
body {
	/*text-align: center;*/
	font-size: 18px;
	width: 90%;
	margin: 0 auto;
	background: #eee;
	/*background: #444;*/
	padding: 0;
	
}
h3 {
	font-size: 20px;
	font-weight: 500px;
	text-align: center;
	font-color: white;
	margin: 0;
}
.wrap {
	/*background: #ddd;*/
	width: 100%;
	height: 100%;
		margin: 0 auto;
	padding: 0;
	text-align: center;
}

a:link, a:visited {
    /*background-color: #f44336;*/
    /*border: 1px green;*/
    /*color: white;*/
    /*padding: 14px 25px;*/
    /*text-align: center; */
    text-decoration: none;
    color: black;
    font-weight: 300px;
    /*display: inline-block;*/
}

a:hover, a:active {
    /*background-color: red;*/
    text-decoration: none;
}

/*--- index.html ---*/

.header {
	width: 600px;
			margin: 0 auto;
	padding: 0;
}
.events {
	width: 600px;
	margin: 0 auto;
	padding: 0;
	/*background: #eee;*/
}
.event {
	/*border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 0px rgba(255,255,255,0.5);*/
	margin-top: 30px;
	width: 100%;
	height: 50px;
	/*background: green;*/
}
.after {
	width: 100%;
	height: 20px;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 0px rgba(255,255,255,0.5);

}

/*--- index-old.html ---*/


.forth, .third, .second {
	width: 280px;

	/*text-align: left;*/
}
.first {
	width: 400px;
}
.forth {
	/*margin-right: 360px;*/
	float: right;
	
}
.first, .second, .third {
	float: left;
	/*border-right: 1px blue;*/
}

/*--- check.html ---*/

table {
    border-collapse: collapse;
    width: 800px;
}

th, td {
    padding: 8px;
    /*width: 160px;*/
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.red {
	color: red;
	font-weight: 600px;
}