<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{{ site_title }}</title> 
		<!--	CSS 	-->
	<link href="{% static "css/main.css" %}" rel="stylesheet">

</head>
<body>
<div class="wrap">
	<div class="header"><h3> Premier League (England) </h3></div>
	
		
		<br/><br/>
		<div class="events">
			{% for event in events %}
			<div class="event">
				<a href="{% url 'check' event.team1 event.team2%}" >{{event.time}} {{event.arbitrage}}
				{{event.team1}} vs {{event.team2}} </a><br/>
				{{event.max_odds.0}} {{event.max_odds.1}} {{event.max_odds.2}}  <br/>
			</div>
			<div class="after"></div>
			{%endfor%}
		</div>
		<div class="footer">&#169; 2016 Nicolae Oat</div>
</div>
</body>
</html>
