<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<title>{{ site_title }}</title> 
		<!--	CSS 	-->
	<link href="{% static "css/main.css" %}" rel="stylesheet">

</head>
<body>
	<h3> Premier League (England) </h3>
	<div class = "left">
		<h3> BetWay </h3>
		<br/><br/>
		{% for event in events %}
			{{event.team1}} vs {{event.team2}} <br/>
			{{event.odds.0.win1}} {{event.odds.0.draw}} {{event.odds.0.win2}} <br/>
			{{event.odds.1.win1}} {{event.odds.1.draw}} {{event.odds.1.win2}} <br/><br/><br/>
		{%endfor%}
		
	</div>
	<div class = "right">
		<h3> BWin </h3>
		<br/><br/>
		{% for event in events2 %}
			{{event.team1}} vs {{event.team2}} <br/>
			{{event.odds.0.win1}} {{event.odds.0.draw}} {{event.odds.0.win2}} <br/><br/><br/>
		{%endfor%}
		test
		{{test}}
	</div>

</body>
</html>
